# Temporary files
*.py[oc]
*.sw[opn]
*~
tmp/
src/
.requirements.txt.md5
.requirements.txt.app.md5
.requirements.txt.tornado.md5

dump-dev.2016-04.19.bin
fnml/data/

# IDE system files
.ropeproject
.vim
.idea
.tags

#nodejs
fnstaff/node_modules

# Tests
.coverage
coverage.xml
nosetests.xml
reports/
django.log

# Virtualenvs
venv
.ve

# Unsorted stuff

datadumps/*
.#*
*#*#
staticfiles
.DS_Store
.sass-cache
sass-cache
node_modules
secret.py